{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "plugins": [["babel-plugin-styled-components", { "ssr": true, "displayName": true, "preprocess": false }]]
    },
    "production": {
      "plugins": [["babel-plugin-styled-components", { "ssr": true, "displayName": false, "preprocess": false }]]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "ignore": ["node_modules", "build"]
}
